<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599288867549-cv1bcu16mskr2gt4qg4fhpqvo4u3o628.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599288867549-cv1bcu16mskr2gt4qg4fhpqvo4u3o628</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599288867549-thl4t3es7rtjhpkjgd0o1jvdgl1cnmtb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_RLiv0daMzBSgsxvVKYpnh_JkPo1MPN8</string>
	<key>GCM_SENDER_ID</key>
	<string>599288867549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.kdmedia</string>
	<key>PROJECT_ID</key>
	<string>todoapp-fc387</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-fc387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599288867549:ios:30a35461afafff3992c934</string>
</dict>
</plist>